[Unit]
Description={{name}}
Author=Paul R. Tagliamonte <tag@pault.ag>
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/bin/bash -c '/usr/bin/docker start -a {{name}} || \
    /usr/bin/docker run \
{% if privileged %}
        --privileged=true \
{% endif %}
{% if terminal %}
        -it \
{% endif %}
        --name {{name}} \
{% for port in ports %}
        -p {{port}} \
{% endfor %}
{% for key, value in env.iteritems() %}
        -e {{key}}={{value}} \
{% endfor %}
{% for host, container in volumes.iteritems() %}
{% if host.startswith("/") %}
        -v {{host}}:{{container}} \
{% else %}
        -v /srv/docker/{{name}}/{{host}}:{{container}} \
{% endif %}
{% endfor %}
        {{image}}{% if command %} {{command}}{% endif %}'
ExecStop=/usr/bin/docker stop -t 5 {{name}}
{% if environment_file %}
EnvironmentFile=/etc/docker/{{environment_file}}.sh
{% endif %}

[Install]
WantedBy=multi-user.target
